<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Done Task</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let doneNote of doneNotes">
      <ion-card-header>
        <ion-card-title>
          <ion-icon class="green-circle" name="ellipse"></ion-icon>
          {{ doneNote.title }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><ion-icon class="icon" name="document-outline"></ion-icon> Description: {{ doneNote.description }}</p>
      </ion-card-content>
      <ion-button fill="clear" color="danger" (click)="removeDoneNote(doneNote)" class="trash-button">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
